$theme-color: (
  "basic": #607274,
  "light": #f7f4f2,
  "grey": #959799,
);

@mixin basicLayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pageWrapper {
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 90vw;
  height: 90vh;
  background-color: map-get($theme-color, "light");
}

.write-form {
  @include basicLayout;
  height: 150px;
}

.write-font {
  color: map-get($theme-color, "basic");
  font-size: 0.9em;
}

@mixin basicInput {
  border: none;
  border-bottom: 1px solid map-get($theme-color, "basic");
  margin: 13px 25px 13px 5px;
  background-color: transparent;
  color: map-get($theme-color, "basic");
  &::placeholder {
    text-align: center;
    color: map-get($theme-color, "grey");
  }
  &:focus {
    outline: none;
  }
}
.writer-input {
  @include basicInput;
  width: 130px;
}
.text-input {
  @include basicInput;
  width: 345px;
}

@mixin buttons {
  font-size: 0.8em;
  border-radius: 7px;
  background-color: map-get($theme-color, "basic");
  color: map-get($theme-color, "light");
  border: none;
  height: 30px;
  cursor: pointer;
  &:hover {
    background-color: #77898b;
    color: map-get($theme-color, "light");
  }
}

.btn-add {
  @include buttons;
  width: 80px;
}

.btn-edit {
  @include buttons;
  background-color: #a7bbbc;
  margin: 0px 3px;
  width: 40px;
}
.btn-del {
  @include buttons;
  background-color: #a7bbbc;
  margin: 0px 3px;
  width: 40px;
}

table {
  border: 1px #77898b solid;
  font-size: 0.9em;
  box-shadow: 0 2px 5px rgba(187, 187, 187, 0.25);
  width: 90%;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  color: map-get($theme-color, "basic");
  margin: 20px 5px;
}

thead {
  color: map-get($theme-color, "light");
  background: #77898b;
}

td,
th {
  padding: 1em;
  vertical-align: middle;
}

td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
}

.table-writer {
  width: 100px;
  border-right: 1px solid #c8cecf;
}
.table-content {
  width: 400px;
}

.table-btnBox {
  left: 300px;
  position: relative;
}
