@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&family=Noto+Serif:ital,wght@1,600&display=swap");

@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "S-CoreDream-3Light";
  /* box-sizing: border-box; */
}

.main-bg {
  height: 550px;
  background-image: url("../public/main-bg.jpg");
  background-size: cover;
  background-position: center;
}
