@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "S-CoreDream-3Light";
}

.App {
  text-align: center;
}

div {
  box-sizing: border-box;
}

.list {
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px solid gray;
}
.list-title {
  cursor: pointer;
}
.black-nav {
  display: flex;
  background: black;
  width: 100%;
  color: whitesmoke;
  padding-left: 20px;
}

.modal {
  margin-top: 20px;
  padding: 20px;
  background-color: whitesmoke;
  text-align: left;
}

.likeBtn {
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 6px;
  margin: 10px;

  &:hover {
    background-color: rgb(60, 60, 60);
    color: whitesmoke;
  }
}

.top-box {
  display: flex;
  margin-top: 20px;
  padding: 20px;
  justify-content: space-between;
}

.delBtn {
  position: relative;
  left: 926px;
  bottom: 10px;
}
.offBtn {
  position: relative;
  left: 965px;
  bottom: 10px;
}
