.nav {
  background-color: #2d2d2d;
  position: fixed;
  width: 30%;
  margin: 0 auto;
  top: 20px;
  border-radius: 50px;
  padding: 20px 0px;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
}

.nav ul {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.nav ul li {
  list-style: none;
  transform: none;
  transition: all 0.1s ease-in-out;
}

.nav ul li:hover {
  transform: scale(1.05);
}

/* ✅ CSS Modules
아래처럼 작성하면 안된다. UI Selector가 달라진다.
모든 UI에 적용될 수 있다. 일반적인 건 global css에 작성해주면 된다. 
ul{
  display: flex;
}
//---------------------------------이렇게는 가능!
.nav {
  background-color: rgb(102, 98, 94);
  padding: 50px 70px;
}

.nav ul {
  display: flex;
}

-- 아니면 className을 하나 더 만들어서 사용하든가!
.list {
  display: flex;
}

*/
