.todo-item {
  width: 300px;
  height: 50px;
  border: 1px solid rgb(172, 172, 215);
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5px;
  margin: 5px 0px;
}

.todo-btn {
  background-color: rgb(172, 172, 215);
  border: none;
  height: 30px;
  margin: 0px 5px;
  color: whitesmoke;
}

.todo-input {
  border: none;
  border-bottom: 1px solid rgb(172, 172, 215);
  width: 257px;
  margin-bottom: 30px;
}

.todo-input::placeholder {
  text-align: center;
}

.todo-text {
  color: rgb(122, 122, 160);
}

.todo-layout {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
}
